{{#if message}}<p>{{message}}</p>{{/if}}
{{#if details}}<p class="mtt-dialog-details">{{details}}</p>{{/if}}
{{#if warning}}
  <p class="mtt-dialog-warning">
    <i class="fas fa-triangle-exclamation" aria-hidden="true"></i>
    {{warning}}
  </p>
{{/if}}
