<form class="mtt-merchant-form {{#if mtt.isLocked}}mtt-is-locked{{else}}mtt-is-unlocked{{/if}}" autocomplete="off">
  <section class="mtt-merchant-layout">
    {{> "header"}}

    <section class="mtt-merchant-content">
      {{> "sidebar"}}

      <main class="mtt-merchant-main">
        {{> "main"}}
      </main>
    </section>
  </section>
</form>
