{{!-- MTT base — structure commune de feuille MTT --}}
<form class="mtt-merchant-form {{#if mtt.isLocked}}mtt-is-locked{{/if}} {{#if mtt.isUnlocked}}mtt-is-unlocked{{/if}}" autocomplete="off">
  <section class="mtt-merchant-layout">
    {{> "modules/mtt-merchants/templates/actors/parts/merchant-header.hbs"}}

    <section class="mtt-merchant-body">
      <main class="mtt-merchant-main">
        {{> "modules/mtt-merchants/templates/actors/parts/merchant-main.hbs"}}
      </main>

      {{> "modules/mtt-merchants/templates/actors/parts/merchant-session.hbs"}}
    </section>

  </section>
</form>
