<aside class="mtt-merchant-session-sidebar">
  <div class="mtt-merchant-session-placeholder">
    <i class="fas fa-basket-shopping"></i>
    <p class="mtt-merchant-session-placeholder-text">{{localize "mtt.sessions.empty.text"}}</p>
  </div>
</aside>
