<section class="mtt-merchant-main-zone">
  
  <section class="mtt-merchant-tab-content">
    {{#if (eq mtt.activeTab "products")}}
      <section class="mtt-merchant-tab-panel mtt-merchant-tab-panel-products" data-tab="products">
        {{> "modules/mtt-merchants/templates/actors/parts/merchant-products.hbs"}}
      </section>
    {{/if}}

    {{#if (eq mtt.activeTab "services")}}
      <section class="mtt-merchant-tab-panel mtt-merchant-tab-panel-services" data-tab="services">
        {{> "modules/mtt-merchants/templates/actors/parts/merchant-services.hbs"}}
      </section>
    {{/if}}

    {{#if mtt.isEditable}}
      {{#if (eq mtt.activeTab "configuration")}}
        <section class="mtt-merchant-tab-panel mtt-merchant-tab-panel-configuration" data-tab="configuration">
          {{> "modules/mtt-merchants/templates/actors/parts/merchant-configuration.hbs"}}
        </section>
      {{/if}}
    {{/if}}

    {{#if (eq mtt.activeTab "journal")}}
      <section class="mtt-merchant-tab-panel mtt-merchant-tab-panel-journal" data-tab="journal">
        {{> "modules/mtt-merchants/templates/actors/parts/merchant-journal.hbs"}}
      </section>
    {{/if}}
  </section>
</section>
