<section class="mtt-merchant-services">
  <div class="mtt-merchant-empty-tab">
    <i class="fas fa-handshake"></i>
    <h2 class="mtt-merchant-empty-tab-title">{{localize "mtt.services.empty.title"}}</h2>
    <p class="mtt-merchant-empty-tab-text">{{localize "mtt.services.empty.text"}}</p>
  </div>
</section>
